.Titulo
{	
	border: 2px solid blue
	
}
.Links
{
	
	margin-top: 5px;
	border: 2px dashed red


}

.TucaLlama
{
	margin-top: 5px;
	border: 2px solid red

}

.Llamas
{
	margin-top: 5px;
	border: 2px dashed brown
}

.Tucanes
{
	margin-top: 5px;
	border: 2px dashed brown



}